html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* , *::before , *::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #0a0a23;
  background-color: #f5f5f5;
  margin: 0;
}

#main-doc {
  margin-left: 26vw;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

#navbar {
  position: fixed;
  min-width: 300px;
  width: 30vw;
  height: 100%;
  border-right: 2px solid #d3d3d3;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px 10px;
  margin: 0;
  border-top: 1px solid #0a0a23;
  width: 30vw;
  height: 9vh;
}

a {
  text-decoration: none;
  color: #0a0a23;
}

a:hover {
  color: #FF8C00;
}

.main-section {
  display: flex;
  width: 60vw;
  margin-left: 10vw;
  flex-wrap: wrap;
}

.title {
  padding: 20px;
}

code {
  display: block;
  background-color: #dcdcdc;
  white-space: pre-wrap;
  border-radius: 8px;
  padding: 10px;
}

@media (max-width: 786px) {
#navbar {
  position: absolute;
  width: 100%;
  height: 250px;
  border-right: none;
  border-bottom: 2px solid #d3d3d3;
  z-index: 1;
}

#main-doc {
    margin-left: 0;
    margin-top: 260px;
  }
}