:root {
    --color-font: #000;
    --color-secondary: #fbfaf8;
    --color-background: #ffffff;
    --color-border: #DCDCDC;
    --color-border-hover: #cc8c34;
    --color-focus: #ffc107;
    --color-font-dark-background: #f5f5f5;
    --color-dark-background: #2d5346;
    --color-sign-up: #f7f6f2;
    --color-contact: #416559;
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    font-family: serif;
    background-color: var(--color-background);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 2rem;
}

h1 {
    text-align: center;
    font-size: 6rem;
    color: var(--color-dark-background);   
    padding: 2rem;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    grid-area: header;
    position: relative;
}

h2 {
    font-size: 4rem;     
    padding-left: 0;          
    text-align: left;
    margin-left: 50px;
    margin-top: 100px;
}

h3 {
    font-size: 3rem;
    margin: 0 0 2.5rem 0;      
    padding-left: 0;          
    text-align: left;
}

header {
    width: 100%;
    height: 100px
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background-color: var(--color-font);
    grid-area: header;
    position: fixed; 
    z-index: 1000;
    top: 10px;
    transition: scale 0.3s, border 0.3s; 
}

.logo:hover {
    scale: 1.1; 
    transition: scale 0.3s;
    border: 3px solid var(--color-border-hover);
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 10px;
    border-radius: 50%;
    grid-area: header;
    color: var(--color-font);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 90px;
    width: 70%;
    margin-left: 30%;
    font-size: 2rem;
}

.nav-link {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;         
    height: 90px;
    border: 3px solid var(--color-border);
    border-radius: 50%;    
    background-color: transparent;
    color: var(--color-font);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    top: 10px;
    transition: background-color 0.3s, color 0.3s; 
}

.nav-link:hover {
    background-color: var(--color-focus); 
    color: var(--color-font);
}

#features,
#courses {
    width: 100%;
    max-width: 1200px;         
    margin: 30px auto 50px;
    padding: 0 ;           
    position: relative;          
    box-sizing: border-box;
}

#features img,
#courses img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#features img {
    width: 8rem;
    height: 8rem;
    margin: 10px;
    padding: 10px;
}
       
#features div,
#courses div {
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    color: var(--color-font);
    padding: 2.2rem 2.8rem;
    margin: 20px auto;          
    border-radius: 8px;
    max-width: 800px;           
    width: 100%;           
    text-align: left;  
    border-radius: 8px;         
}

#features div:hover,
#courses div:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s; 
    border: 1px solid var(--color-border-hover);
}

#video-iframe {
    margin: 50px auto; 
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 8px; 
    border: 6px solid var(--color-font);
    margin: 5rem auto;
}

#video{
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-background);
    margin: 50px auto; 
    display: grid;
    justify-items: center;
    align-items: center;
}

#video h2 {
    display: grid;
    justify-self: start;
    font-size: 3rem;
    margin: 5rem 10rem;
    padding: 0;  
    position: relative;
    top: 5rem; 
    color: var(--color-font-dark-background);       
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; 
    font-size: 2rem;
    color: var(--color-font-dark-background);
    padding-bottom: 4rem;
    margin: 5rem auto;
}

#pricing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    grid-area: pricing;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

#pricing h2 {
    display: grid;
    grid-column: 1 / -1;
    margin-left: 50px;        
}

#pricing div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 20px;
    gap: 20px;
    background-color: var(--color-font);
    color: var(--color-background);
    font-size: 2rem;
    border-radius: 8px;
}

#pricing div:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s; 
    border: 1px solid var(--color-border-hover);
    color: var(--color-font);
}

#pricing .premium:hover {
    background-color: var(--color-sign-up);
    color: var(--color-font);
    border: 1px solid var(--color-border-hover);
}

#pricing .basic:hover {
    background-color: var(--color-sign-up);
    border: 1px solid var(--color-border-hover);
    color: var(--color-font);
}

#pricing .basic {
    background-color: var(--color-background);
    color: var(--color-font);
    border: 1px solid var(--color-border);
}

#pricing .standard {
    background-color: var(--color-dark-background);
    color: var(--color-font);
    border: 1px solid var(--color-border);
}

#pricing .standard:hover {
    background-color: var(--color-contact);
    border: 1px solid var(--color-border-hover);
    color: var(--color-font);
}

#pricing button:not(standard) {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: var(--color-border-hover);
    color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; 
    font-size: 2rem;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-border);
}

#pricing button:hover {
    background-color: var(--color-font);
    color: var(--color-background);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s; 
    border: 1px solid var(--color-border-hover);
}   

#pricing .premium {
    background-color: var(--color-background);
    color: var(--color-font);
    border: 1px solid var(--color-border);
}

.price {
    font-size: 4rem;
}

#sign-up {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--color-sign-up);
    color: var(--color-font);
    margin: 20px auto;
    font-size: 2rem;
    border-radius: 8px;
}

#sign-up input:not([type="submit"]) {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: var(--color-background);
    color: var(--color-font);
    display: block;
    margin: 20px auto;
    border: 1px solid var(--color-border);
}

#sign-up input:not([type="submit"]):hover {
    background-color: var(--color-border);
    color: var(--color-font);
}

#sign-up form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;  
    color: var(--color-font);
    margin: 20px auto;
    font-size: 2rem;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s; 
}

#sign-up .sign-up {
    width: 40%;
    height: 50px;
    border-radius: 8px;
    background-color: var(--color-dark-background);
    color: var(--color-font-dark-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; 
    font-size: 2rem;
}

#sign-up .sign-up:hover {
    background-color: var(--color-border-hover);
    color: var(--color-background);
}

#sign-up label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: flex-start; 
    background-color: var(--color-background);
    color: var(--color-font);
    font-size: 2rem;
}  

#contact {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--color-dark-background);
    color: var(--color-font-dark-background);
    margin: 20px auto;
    font-size: 2rem;
    border-radius: 8px;
}   

address {
    margin: 30px;
    font-size: 1.5rem;
    color: var(--color-font);
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 5rem;
}

#contact .form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: var(--color-background);
    margin: 20px auto;
    font-size: 2rem;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s; 
}

#contact input:not([type="submit"]) {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: var(--color-background);
    color: var(--color-font);
    display: block;
    margin: 20px auto;
    background-color: var(--color-background);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
}

#contact input:hover {  
    background-color: var(--color-sign-up);
    color: var(--color-background);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s; 
    border: 1px solid var(--color-border-hover);
}

#contact .contact-form {
    width: 80%;
    height: 100px;
    border-radius: 8px;
    background-color: var(--color-background);
    color: var(--color-font);
    display: block;
    margin: 20px auto;
    background-color: var(--color-background);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
}

#contact .contact-form:hover {
    background-color: var(--color-secondary);
    color: var(--color-background);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s; 
    border: 1px solid var(--color-border-hover);
}

#contact label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: flex-start; 
    background-color: var(--color-background);
    color: var(--color-font);
    font-size: 2rem;
}

#contact .submit {
    width: 40%;
    height: 50px;
    border-radius: 8px;
    background-color: var(--color-dark-background);
    color: var(--color-font-dark-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; 
    font-size: 2rem;    
}

#contact .submit:hover {
    background-color: var(--color-border-hover);
    color: var(--color-background);
}   

@media (max-width: 768px) { 
    #pricing { grid-template-columns: 1fr; } 
}
