* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right,gray, red, orange);
}

#playing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 400px;
  background-color: #FFFAF0;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #999;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.left {
  align-self: flex-start;
  font-size: 50px;
  padding: 20px;
}

.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 80px;
}

.right {
  align-self: flex-end;
  transform: rotate(180deg);
  font-size: 50px;
  padding: 20px;
}

.middle-hearts {
  transform: rotate(180deg);
}

.card.diamonds {
  color: red;
}

.card.hearts {
  color: red;
}

.middle.clubs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 140px;
  gap: 10px;
}

.clubs3,.clubs4 {
  transform: rotate(180deg);
}

.middle.diamonds {
  display: flex;
  flex-wrap: wrap;
  width: 150px; 
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.middle.diamonds3 {
  flex-basis: 100%;
  text-align: center;
}