* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  color: #0a0a23;
  font-family: sans-serif;
}

section {
  padding: 0 1.25rem;
}

h1 {
  text-align: left;
  padding: 1.25rem;
  font-size: 2rem;
}

.title {
  justify-content: space-between;
  width: 100vw;
  position: sticky;
  z-index: 999;
  background-color: #0a0a23;
  color: #fff;
  padding: 1.25rem;
  height: 7vh;
}

table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  position: relative;
  margin: 0;
}

tr[class="read"] {
  background-image: linear-gradient(to right, #228B22 , #FFFFF0 );
}

tr[class="to-read"] {
  background-image: linear-gradient(to right, #87CEFA , #FFFFF0 );
}

tr[class="in-progress"] {
  background-image: linear-gradient(to right, #FF8C00 , #FFFFF0 );
}

tr[class="to-read"] span[class="status"] {
  border: 2px solid #87CEFA;
  border-radius: 20px;
  background-image: linear-gradient(to right, #87CEFA , #FFFFF0);
  width: 10vw;
  height: 5vh;
  text-align: center;
}

tr[class="read"] span[class="status"] {
  border: 2px solid #228B22;
  border-radius: 20px;
  background-image: linear-gradient(to right, #228B22 , #FFFFF0);
  width: 10vw;
  height: 5vh;
  text-align: center;
}

tr[class="in-progress"] span[class="status"] {
  border: 2px solid #FF8C00;
  border-radius: 20px;
  background-image: linear-gradient(to right, #FF8C00 , #FFFFF0);
  width: 10vw;
  height: 5vh;
  text-align: center;
}

span[class="status"], span[class^="rate"] {
  height: 25px;
  width: 100px;
  padding: 5px;
  display: inline-block;
}

span {
  display: inline-block;
}

span[class^="rate"] > span {
  border: 2px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: #fff;
}

span[class~="one"] > span:first-child {
  background-image: linear-gradient(#FFD700, #FFA500);
}

span[class~="two"] > span:nth-child(-n+2) {
  background-image: linear-gradient(#FFD700, #FFA500);
}

span[class~="three"] > span {
  background-image: linear-gradient(#FFD700, #FFA500);
}